.luxo-list-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;

  .category-tag {
    color: #B38728;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.4em;
    display: block;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-weight: 200;
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: -0.02em;
  }
}

.luxo-card {
  background: #FFF;
  border: 1px solid #F0F0F0;
  padding: 1rem;
}

.protocol-text {
  font-family: 'Courier New', Courier, monospace;
  color: #666;
}

.cliente-info {
  display: flex;
  flex-direction: column;
  small { font-size: 0.6rem; color: #B38728; font-weight: bold; }
}

.row-cancelled {
  opacity: 0.6;
  background-color: #FAFAFA !important;
  td { text-decoration: line-through; text-decoration-color: #ff000033; }
  .p-tag, .text-center { text-decoration: none !important; }
}

::ng-deep {
  .p-button-black {
    background: #000 !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: 0.8rem !important;
    letter-spacing: 0.1em !important;
  }
}

.text-right { text-align: right; }
.text-center { text-align: center; }

.luxury-search {
  .luxury-search-input {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #eee !important;
    border-radius: 0 !important;
    width: 220px;
    font-weight: 300;
    font-size: 0.8rem;
    padding-left: 2.5rem !important;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      box-shadow: none !important;
      border-bottom-color: #b38728 !important;
      width: 300px;
    }
  }
  i { color: #ccc; left: 0.5rem !important; }
}

::ng-deep {
  .p-datatable-luxury {
    .p-datatable-thead > tr > th {
      background: #fff !important;
      color: #999 !important;
      font-size: 0.65rem !important;
      letter-spacing: 0.1rem !important;
      border-bottom: 1px solid #f0f0f0 !important;

      &.p-highlight {
        color: #B38728 !important;
        .p-sortable-column-icon { color: #B38728 !important; }
      }
    }

    .p-paginator {
      border: none !important;
      padding: 1.5rem !important;
      font-size: 0.8rem;

      .p-highlight {
        background: transparent !important;
        color: #B38728 !important;
        font-weight: bold;
        border-bottom: 2px solid #B38728 !important;
        border-radius: 0 !important;
      }
    }
  }
}
